/00_frontpage.aux
/00_header.aux
/01_Intro.aux
/02_Seaking_Profiler.aux
/03_Notebook_Dell.aux
/04_indutivo.aux
/05_Encoder.aux
/06_Pan_Til.aux
/07_Tablet.aux
/08_Pressao.aux
/anexo.aux
/master.aux
/master.lof
/master.log
/master.out
/master.pdf
/master.synctex.gz
/master.toc
/maste.synctex.gz
/02_Bateria.aux
/03_componentes_1.aux
/04_componentes_2.aux
/06_Borracha.aux
/07_Conversor.aux
/08_Multicabo.aux
/05_abracadeira.aux
/09_componentes_3.aux
/tmp
/10_placa_1.aux
/10_placas_1.aux
/11_conectores_01.aux
/12_roteador_01.aux
/13_aluminio.aux
/14_cabo.aux
